.elementor-302 .elementor-element.elementor-element-8a6d5c3,
	.elementor-302 .elementor-element.elementor-element-8a6d5c3>.elementor-background-overlay
	{
	border-radius: 0 0 0 0
}

.elementor-302 .elementor-element.elementor-element-8a6d5c3 {
	padding: 0 73px
}

.elementor-302 .elementor-element.elementor-element-b8645e8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap
	{
	justify-content: flex-start
}

.elementor-302 .elementor-element.elementor-element-b8645e8>.elementor-element-populated
	{
	padding: 18px 0
}

.elementor-302 .elementor-element.elementor-element-1aef04e {
	text-align: left;
	width: auto;
	max-width: auto
}

.elementor-302 .elementor-element.elementor-element-736be12 {
	width: auto;
	max-width: auto
}

.elementor-302 .elementor-element.elementor-element-5a41ec2.elementor-column .elementor-column-wrap
	{
	align-items: center
}

.elementor-302 .elementor-element.elementor-element-5a41ec2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap
	{
	align-content: center;
	justify-content: flex-end
}

.elementor-302 .elementor-element.elementor-element-5a41ec2>.elementor-element-populated
	{
	padding: 18px 0
}

.elementor-302 .elementor-element.elementor-element-ddf1b2f .login-account
	{
	font-family: nunito;
	font-size: 16px;
	font-weight: 400
}

.elementor-302 .elementor-element.elementor-element-ddf1b2f>.elementor-widget-container
	{
	padding: 0 45px 0 0
}

.elementor-302 .elementor-element.elementor-element-ddf1b2f {
	width: auto;
	max-width: auto
}

.elementor-302 .elementor-element.elementor-element-f541c89>.elementor-widget-container
	{
	padding: 5px 12px 0 0
}

.elementor-302 .elementor-element.elementor-element-f541c89 {
	width: auto;
	max-width: auto
}

.elementor-302 .elementor-element.elementor-element-1c751a0 {
	width: auto;
	max-width: auto
}

@media ( min-width :768px) {
	.elementor-302 .elementor-element.elementor-element-b8645e8 {
		width: 76%
	}
	.elementor-302 .elementor-element.elementor-element-5a41ec2 {
		width: 24%
	}
}